<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

      .login-button{
          height: 30px;
          width: 60px;
      }
    </style>
</head>
<body>
<a href="/oauth2/authorization/messaging-client-oidc">
    <button class="login-button">Login</button>
</a>

<form method="post" style="" th:action="@{/signup}"  th:object="${user}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" required/><br/>

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" required />

    <button class="login-button" type="submit">Sign Up </button>
</form>
<p th:if="${message}" th:text="${message}"></p>

</body>
</html>
